@charset "utf-8";
/* 카테고리 */
.section02 .inner {
  width: 80%;
  margin: auto;
}
.kategorie,
.brand-shop {
  max-width: 1650px;
  width: 100%;
  margin: 0 auto 140px;
  position: relative;
}
.section02 h3 {
  margin-bottom: 20px;
  font-family: "Binggrae", sans-serif;
  font-size: 38px;
  font-weight: bold;
  line-height: 1.45;
  letter-spacing: -1.9px;
  color: #1f1f1f;
  text-align: center;
}
/* 스와이퍼 네비게이션 */
.swiper-button-next,
.swiper-button-prev {
  color: #222 !important;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 15px !important;
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: var(--swiper-navigation-sides-offset, -40px) !important;
  top: var(--swiper-navigation-top-offset, 55%) !important;
}
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: var(--swiper-navigation-sides-offset, -40px) !important;
  top: var(--swiper-navigation-top-offset, 55%) !important;
}
/* 스와이퍼 텍스트 박스 */
.sild_txt_box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 97%;
  height: 43px;
  border-radius: 21px;
  color: #1f1f1f;
  font-size: 16px;
  background-color: #f9f9f9;
  margin-top: 12px;
  transition: none;
}
.sild_txt_hover {
  display: none;
  letter-spacing: normal;
  font-family: "Poppins";
}
/* 브랜드숍 */
.swiper-slide > a > .logo_box {
  position: relative;
  display: block;
  border: solid 1px #edecef;
  border-radius: 30px;
  height: 250px;
  overflow: hidden;
  background-color: #fff;
}
.swiper-slide > a > .logo_box img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* 반응형 */
/* 1280px */
@media all and (max-width: 1280px) {

}
/* 1024px */
@media all and (max-width: 1024px) {

}
/* 768px */
@media all and (max-width: 768px) {

}
/* 390px */
@media all and (max-width: 390px) {
}