@charset "utf-8";
.section01 > .inner {
  width: 80%;
  margin: auto;
}
/* 배너(비주얼) */
.section01 > .inner > .logo_box {
  position: relative;
  display: inline-block;
  width: 100%;
  z-index: 99;
}
.main_banner {
  position: relative;
  /* top: 0;
    left: 50%;
    transform: translate(-50%, 0%); */
  display: block;
  margin: auto;
}
/* 검색창 */
.search_box {
  position: relative;
  z-index: 99;
  max-width: 1020px;
  height: 80px;
  border-radius: 40px;
  box-shadow: 0px 5px 24.3px 2.7px rgba(0, 0, 0, 0.09);
  background-color: #fff;
  margin: 40px auto 0;
  justify-content: space-between;
}
.search {
  width: 100%;
  padding: 0 15px 0 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.search input {
  width: 78%;
  height: 100%;
  padding-left: 30px;
  font-size: 17px;
  letter-spacing: -0.85px;
  text-align: left;
  background: url(../images/search_icon.png) no-repeat center left;
  border: none;
}
.search_btn {
  max-width: 180px;
  cursor: pointer;
  width: 22%;
  height: 55px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: normal;
  border: none;
  border-radius: 27.5px;
  box-shadow: inset 0px 5px 10px 0 rgba(53, 53, 53, 0.11);
  background-image: linear-gradient(to top, #ed1c24, #e0462e);
}
/* 해시태그 */
.keyword_box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 99;
  margin-top: 25px;
  font-family: "Binggrae";
}
.keyword_box li {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  min-width: 120px;
  height: 37px;
  border-radius: 18.5px;
  /* box-shadow: 0px 2px 9.8px 0.2px rgba(0, 0, 0, 0.08); */
  border: solid 1px #edecef;
  letter-spacing: normal;
  font-weight: 100;
  padding: 0 20px;
  font-family: "Binggrae";
}
.keyword_box li + li {
  margin-left: 7px;
}
